/* pseudos */
:root {
    --outer-space: #33393f;
    --bright-turquoise: #ac63cf;
    --gin: #dd55d4;
    --heliotrope: #2aefcb;
}

::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
}

/* elements */
html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--outer-space);
}

nav {
    text-align: center;
    background-image: url('assets/pastel-pour.png');
    opacity: 75%;
    border-radius: 4px;
    padding: 5px;
    margin: 20px 50px 0 50px;
}
a {
    text-decoration: none;
	color: white;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
    padding: 20px;
}

a:hover {
    color:rgba(232, 102, 236, 0.3);
    text-decoration: none;
	color: turquoise;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}


p {
    margin-bottom: 1rem;
}

header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* background-image: url('assets/pastel-pour.png'); */
    border-radius: 4px;
}

header h1.page-title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}


main {
    width: 96%;
    margin: 2rem auto;
    /* text-align: center; */
    /* column-count: 2; */
}

main h2.bio {
    text-align: center;
}
main h2.contact {
    text-align: center;
}
main h2.app {
    text-align: center;
}

img.placeholder {
    height: 25%;
    width: 25%;
    border-radius: 8px;
    min-height: 100%;
    outline: 2px hidden var(--gin);
    box-shadow: inset 0px 0px 8px var(--gin), 0 0 15px var(--gin);
}

img.placeholder:hover,
img.placeholder:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

a.sites {
    padding: 50px;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

/* classes + flexbox */
.whole {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 20px;
}

.about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    margin-right: 50%;
    color: var(--outer-space);
}

.contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    margin-right: 50%;
    color: var(--outer-space);
}

.photo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    margin-right: 50%;
}

.work {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 50%;
    margin-left: 50%;
    margin-top: -95.10%;
}

.card.code-card {
    background-image: url('assets/pastel-pour.png');
    opacity: 75%;
    border-radius: 4px;
}

.card-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: stretch;
    align-content: space-around;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.card-body img{
    width: 100%;
}

.card-body {
    justify-content: center;
    text-align: center;
}

.card-column-work {
    display: flex;
    flex-flow: column wrap;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    box-shadow: inset 0px 0px 8px var(--gin), 0 0 15px var(--gin);
}
.code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

/* media queries */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 20px;
}

/* FIX THIS */
@media screen and (max-width: 992px) {
    .card {
        flex: 50%;
        max-width:100%;
        height:auto;
    }
} 

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        max-width:100%;
        height:auto;
    }
}

@media screen and (max-width: 480px) {
    .card {
        float: none;
        width: 100%;
        width: 25%;
        height: auto;
    }
} 



/* TRY TO FIX THIS SHIT! */
    /* use linear-gradient() function to create a fading background 
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: center; */

